/* Write your global styles here, in PostCSS syntax */
@import '@ldn-viz/themes/styles/primitives.css';
@import '@ldn-viz/themes/styles/light.css';
@import '@ldn-viz/themes/styles/dark.css';
@import '@ldn-viz/themes/styles/spacing.css';
@import '@ldn-viz/themes/styles/typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
.docs-story {
	@apply bg-color-canvas;
	@apply text-color-text;
}
