/* Write your global styles here, in PostCSS syntax */
@import '@ldn-viz/themes/styles/primitives.css';
@import '@ldn-viz/themes/styles/primitive-scale.css';
@import '@ldn-viz/themes/styles/light.css';
@import '@ldn-viz/themes/styles/dark.css';
@import '@ldn-viz/themes/styles/spacing.css';
@import '@ldn-viz/themes/styles/typography.css';
@import '@ldn-viz/themes/styles/flow.css';
@import '@ldn-viz/themes/styles/grid-spacing.css';
@import '@ldn-viz/themes/styles/shadows.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

html.disable-smooth-scroll {
	scroll-behavior: auto;
}

/* [id] {
	scroll-margin-top: 66px;
} */

@layer base {
	code[data-theme='github-dark-dimmed'] {
		display: flex !important;
		flex-direction: column;
	}

	[data-rehype-pretty-code-figure] {
		@apply !my-3;
		@apply border border-color-border-muted;
		@apply overflow-auto;
	}

	[data-theme='github-dark-dimmed'] {
		@apply !px-2;
		background-color: #13181cff !important;
		color: var(--color-static-white) !important;
	}
}

@layer components {
	.ldn-viz-sidebar-toggle {
		@apply hidden;
	}
}
