@import '@ldn-viz/themes/styles/primitives.css';
@import '@ldn-viz/themes/styles/light.css';
@import '@ldn-viz/themes/styles/dark.css';
@import '@ldn-viz/themes/styles/spacing.css';
@import '@ldn-viz/themes/styles/typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}
